.cjBodyMask { position:absolute; top:-1000px; left:-1000px; display:none; background:#ccc }
.cjMoveMask { position:absolute; border:1px solid #000; background:#333; }
.cjIEMask { position:absolute;top:0;left:0;width:100%;height:100% }
.cjMove { position:absolute; width: 100%; height:16px; top:0; left:0; cursor: move; background:#043947}
.cjCloseBtn { position:absolute; top:2px; right: 2px; width:12px; height:12px; background:url(close.gif); cursor:pointer }

/* calendar */
.cjCalBtn { border:0; width:16px; height:16px; background:url(calendar.gif); cursor:pointer }
.cjCal { position:absolute; width:220px; height:300px; border:1px solid black; background:#043947; }
.cjCal .cjMove { position:absolute; width: 100%; height:16px; top:0; left:0; cursor: move}
.cjCal div { margin:0; padding:0; position:absolute; display:block; text-align:center; font: bold 12px/20px Arial; color:#043947; cursor:pointer }
.cjCal .nav { background: #c4ebdc; color:blue }
.cjCal .ny { background: url(cal_ny_btn.png) #c4ebdc }
.cjCal .ly { background: url(cal_ly_btn.png) #c4ebdc }
.cjCal .nm { background: url(cal_nm_btn.png) #c4ebdc }
.cjCal .lm { background: url(cal_lm_btn.png) #c4ebdc }
.cjCal .week { background: #e2e2e2; color:blue }
.cjCal .sat { color : #41c40d }
.cjCal .sun { color : red }
.cjCal .day { background:#fff }
.cjCal .theday { background : #c4ebdc }
/* lodding */
.cjLoadding { background:url(rolling.gif); position:absolute; width:50px; height:50px; z-index:10000; display:none }
/* slidshow */
.cjSlideshow { display:block; overflow:hidden }
.cjSlideshowImgs { position:absolute; top:-10000px; left:-10000px; display: none }
.cjSlideshowImgs img { position:absolute; top:0; left:0; display:none }
/* marquee */
.cjMarquee { display:block; border:1px solid #808080 }
.cjMarqueeItems { position:absolute; top:-10000px; left:-10000px; display:block; overflow:hidden }
.cjMarqueeItems div { position:absolute; top:-10000px; left:-10000px; display:block }
/* popMsg */
.cjPopMsg { font: 12px/16px arial; color:#808080; position:absolute; display:block; padding:5px; overflow:visible; border: 1px solid #ccc; background: #fffff0}
/* color picker */
.cjColorPicker { position:absolute; width:100%; height:100%;border:1px solid black; background:#f0f0f0 }
.cjColorPicker .cjColor { position:absolute; cursor:pointer; border:1px solid #f0f0f0 }
.cjColorPicker .cjColor:hover { border:1px solid #000 }
/* inline_popup */
.popFrame { position:absolute; background:white; border:3px solid #659462; overflow:auto}
/* search box */
.cjSearchBox { position:absolute; overflow:hidden; background:#fff; border:1px solid green; width:100px; height:100px; display:none; z-index:65535}
.cjSearchBox a {display:block; text-decoration:underline; width:100%; cursor:pointer; padding:0 5px; font-size:12px; line-height:25px !important}
.cjSearchBox a:hover { background:#B0F96F }
.cjSearchBoxOn { background:#B0F96F }
.cjSearchBoxOff { background:#fff}